.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 8px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #575757;
  z-index: 2;
}

.brand-logo-btn {
  width: 10%;
}

.brand-logo {
  width: 32px;
}

.current-section {
  width: 40%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.nav-list {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-list-link {
  width: 100%;
  padding: 4px 0;
}

.active-nav {
  background: #ccc;
  color: #060;
}

.nav-list-link:hover {
  background: #32ce32;
  color: #f9f9f9;
  text-decoration: none;
}

.navbar-toggle {
  cursor: pointer;
  background-color: transparent;
}

.icon-bar {
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background: #252525;
  border-color: transparent;
  margin-top: 4px;
}

@media (max-width: 780px) {
  .hide {
    display: none;
  }
}
